<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    
    <!-- Charge l’application en local plutôt que sur localhost -->
    <content src="index.html" />

    <!-- Autoriser les connexions réseau -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Corrections pour éviter localhost -->
    <allow-navigation href="*" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="scheme" value="https" />
    <preference name="hostname" value="app.gotham.titlepack.io" />
</widget>
